/* main.css */

.hero-banner {
    /* width: 100%; */
    background-image: url(/images/donut-hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;

}

.hero-banner h1 {
    font-family: 'copse', serif;
    font-size: 75px;
    line-height: 1.34;
    letter-spacing: .05em;
    text-align: center;
    color: #fff
}

.hero-banner button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 1em;
}