/* nav CSS */

#nav-bar {
    background-color: transparent;
}

.logo {
    width: 80px;
}

.navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-kerning: 2em;
    font-size: 1em;
}
