@import 'brand.scss';

/* Cart Modal */
.modal-content {
    background: $white;
    font-size: 1em;

    &__btn {
        background-color: darken($blue, 10%);
        color: $white;
        font-weight: 300;
        letter-spacing: .05em;
        padding: 0.7em 1.2em;
        font-size: 1em;
    }

    &__btn:hover {
        background-color: darken($blue, 40%);
        color: $white;
    }

    &__footer {
        float: right;
        padding: 0 2em 0 0;
        font-weight: 700;
    }
}

.deleteOne {
    font-size: 1.2em;
    font-weight: 700;
    padding: .5em .5em 0 .5em;
    color: $darkBlue;
    cursor: pointer;
}

.deleteOne:hover {
    color: rgba($darkBlue, 0.5);
}

.addOne {
    font-size: 1.2em;
    font-weight: 700;
    padding: .5em .5em 0 .5em;
    color: $darkBlue;
    cursor: pointer;

}

.addOne:hover {
    color: rgba($darkBlue, .5);
}

/* bootstrap override */

.table td {
    padding-bottom: 1em;
}



