@import 'brand.scss';

/* Donut Card CSS */

.card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 2em 0 2em;
}

.donut-card {
    background: $white;
    flex-basis: 30%;
    min-width: 300px;
    margin: 0 .5em 1.5em .5em;
    position: relative;
    box-shadow: 0 0 1.7em rgba($darkBlue, .3);

    &__img {
        width: 100%;

    }

    &__body-text {
        text-align: center;
        padding: 2em;
    }

    &__name {
        font-size: 1.6em;
    }

    &__description {
        font-size: .9em;
    }

    &__price {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 1em;
    }

    &__btn {
        background-color: darken($blue, 10%);
        color: $white;
        font-weight: 300;
        letter-spacing: .05em;
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }

    &__btn:hover {
        background-color: darken($blue, 40%);
        color: $white;
    }

    /* Try grid on the iconContainer with the .fas icon*/
    &__iconContainer {
        position: relative;
    }


}


/*bootstrap override code*/

.fas {
    color: rgba($white, .4);
    font-size: 1.8em;
    position: absolute;
    left: 91%;
    top: 8%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.fas:hover {
    color: $white;
    cursor: pointer;

}


@media only screen and (max-width: 500px) {
    .donut-card {
        flex-basis: 100%;
    }
}