@import 'brand.scss';

/* Favourites Page */

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5em 0 1em 1em;

    &__profileContainer {
        flex-basis: 25%;
    }

    &__textContent {
        text-align: left;
        align-items: center;
        margin: 0 auto;
    }

    &__img {
        width: 100%;
        align-items: center;
        border-radius: 50%;

    }

    &__name {
        text-align: center;
        font-family: $serif;
        margin: 1em 0 .4em 0;

    }

    &__bio {
        text-align: center;

    }

    &__favouriteDonuts {
        flex-basis: 74%;
    }

    &__section-intro {
        text-align: center;
        padding: 0em 0 2em 0;

    }

    &__heading {
        text-align: center;
        font-size: 3em;
    }

    &__donutList {
        padding: 0;
    }

    &__card-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    &__body {
        margin-bottom: 2em;
    }


}


@media only screen and (max-width: 500px) {

    .user__img {
        width: 90%;
    }

    .user__bio {
        padding-bottom: 3em;
    }

    .user__profileContainer {
        flex-basis: 100%;
        margin: 0 1em 0 1em;
    }

    .user__card-layout {
padding:0;
    }

    .user__favouriteDonuts {
        flex-basis: 100%;
        padding:0;

    }



}