@import 'brand.scss';

/* main.css */


.hero-banner {
    background-image: url(/images/donut-hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    align-content: center;
    padding-bottom: 5em;

    &.lg {
        background-position: center bottom;
        height: 600px;
    }

    &__title {
        font-family: $serif;
        font-size: 75px;
        letter-spacing: .02em;
        text-align: center;
        color: $white;
        padding: .5em 0 0 0;

        &.cardTitle {
            font-size: 50px;
            color: $darkBlue;
            padding: 0;

        }
    }

    &__subhead {
        color: $white;
        font-size: 1.8em;
        padding: 0 0 2em 0;
        font-family: $serif;
    }

    &__btn {
        color: $white;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: 700;
        padding: 1em;
        text-decoration: none;
        border-color: $white;
        border-style: solid;
        border-width: 0.1em;
    }


    &__btn:hover {
        background-color: rgba($white, .2);
        text-decoration: none;
        color: $white;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card {
        background: $white;
        flex-basis: 50%;
        margin: 5em 5em 5em 5em;
        padding: 1em 1.5em 3em 1.5em;
        min-width: 300px;
        box-shadow: 0 0 1.6em $darkBlue;
    }


}


