/* Active Orders Admin Page */

/* section for the orders */
.orders {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__title {
        font-size: 2em;
        text-align: center;
        padding: 1em;
    }
}

/* indivdual order card */
.order-card {
    background: #ffffff;
    flex-basis: 80%;
    margin: 0 .5em 1em .5em;
    border-style: solid;
    border-color: lightgrey;
    border-width: .1em;

    &__label {
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: 700;

        &.center {
            text-align: center;
        }
    }


    &__orderNum {
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: .2em;
    }

    &__name {
        font-size: 1.5em;
    }

    &__qty {
        font-size: 1.5em;
        text-align: center;
    }

    &__estimate {
        font-size: 1.4em;
    }

    &__btn {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-weight: 300;
        letter-spacing: 0.05em;
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }

    &__btn:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

    &__form {
        padding: .5em;
    }

    &__etaValue {
        margin: 0 .5em 0 .5em;
    }
    

    &__footer {
        background: transparent;
        float: right;
        padding: 0 1em 1em 0;
    }
}

/* Over-ride Bootstrap styles here */

.table td,
.table th {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Breakpoints */
@media only screen and (max-width: 500px) {
    .order-card {
        flex-basis: 100%;
    }
}