/* Cart Modal */
.modal-body{
    background-color: purple;

}

.modal-body {
color: lightsalmon;
    .name {
        color: red;
    }
    
    .qty {
        font-size: 40px;
        color: blue;
    }
    
    .price {
        color: orange;
    }
}

