/* Cart Modal */
.modal-content {
    font-size: 1.5em;

    &__table{
        background: transparent;

    }

    &__name {
        font-size: .75em;
    }

    &__qty {
        font-size: .75em;
    }

    &__price {
        font-size: .57em;
    }

    &__qtyBtn {
        font-size: .75em;
    }

    &__btn {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-weight: 300;
        letter-spacing: .05em;
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }

    &__btn:hover {
        background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    }

    &__footer {
        float: right;
    }

}

