/* Donut Card CSS */

.card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 2em 0 2em;
}

.donut-card {
    background: #ffffff;
    flex-basis: 30%;
    min-width: 300px;
    margin: 0 .5em 1em .5em;
    position: relative;

    &__img {
        width: 100%;
        
    }

    &__body-text {
        text-align: center;
        padding: 2em;
    }

    &__name {
        font-size: 1.6em;
    }

    &__description {
        font-size: .9em;
    }

    &__price {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 1em;
    }

    &__btn {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-weight: 300;
        letter-spacing: .05em;
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }

    &__btn:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
    }

    &__iconContainer {
        position: relative;
        display: inline-block;
    }


}


/*bootstrap override code*/

.fas {
    color: rgba(255,255,255,.7);
    font-size: 1.8em;
    position: absolute;
    left: 91%;
    top: 8%;
    transform: translate(-50%, -50%);
}

.fas:hover {
    color:  rgba(255,255,255,1); 
}

@media only screen and (max-width: 500px) {
    .donut-card {
        flex-basis: 100%;
    }
}