@import 'about-section.scss';
@import 'active-orders.scss';
@import 'brand.scss';
@import 'cart.scss';
@import 'donut-card.scss';
@import 'favourite.scss';
@import 'main.scss';
@import 'nav.scss';


a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  text-decoration: none;
  border-color: none;
  border-style: none;
  cursor: pointer;
}

button:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

body {
  margin: 0;
  color: $darkBlue;
  font-family: $sans-serif;
  background-color: transparentize($yellow, .9);
}

.highlight {
text-transform: uppercase;
letter-spacing: .3em;
font-size: .7em;
font-weight: 700;
padding: 0 0 1em 0;
margin: 0;
color: transparentize($darkBlue, .5); 
}

.container {
  display: flex;
}

.v-container {
  display: flex;
  flex-direction: column;
}

.footer-global {
  background: $darkBlue;
  position: sticky;
  color: #fff;
  padding: 1em;
}

section {
  display: flex;
}


main {
  display: flex;
  flex-direction: column;
}

.section-intro {
  text-align: center;
  padding: 5em 0 2em 0;


  &__heading {
    text-align: center;
    font-size: 3em;
  }
}



@media only screen and (max-width: 600px) {
  section {
    width: 100%;
  }
}

