/* main.css */


.hero-banner {
    /* width: 100%; */
    background-image: url(/images/donut-hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    align-content: center;
    padding-bottom: 5em;

    &.lg {
        background-position: center bottom;
        height: 600px;
    }

    &__title {
        font-family: 'copse', serif;
        font-size: 75px;
        letter-spacing: .02em;
        text-align: center;
        color: #fff;
        padding: .5em 0 0 0;

        &.cardTitle {
            font-size: 50px;
            color: black;
            padding: 0;

        }
    }

    &__subhead {
        color: #fff;
        font-size: 1.5em;
        padding: 0 0 2em 0;
        font-family: 'copse', serif;
    }

    &__btn {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-weight: 700;
        padding: 1em;
        text-decoration: none;
        border-color: rgba(255, 255, 255, 1);
        border-style: solid;
        border-width: 0.1em;
    }


    &__btn:hover {
        background-color: rgba(255, 255, 255, .2);
        text-decoration: none;
        color: #fff;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card {
        background: #ffffff;
        flex-basis: 50%;
        margin: 5em 5em 5em 5em;
        padding: 1em;
        min-width: 300px;
        box-shadow: 0 0 2em #333;
    }


}


